<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="min-h-screen bg-[#101010] flex items-center justify-center">
  <form action="/business/register/auth" method="post"
    class="bg-[#181818] p-8 rounded-xl w-full max-w-md shadow-xl border border-[#2d2d2d] space-y-6">
    <h2 class="text-2xl font-semibold text-white text-center tracking-wide">
      Cadastro de Empresa
    </h2>

    <div class="space-y-2">
      <label class="text-sm text-gray-300" for="name">Nome da Empresa</label>
      <input type="text" id="businessname" name="businessname"
        class="w-full px-4 py-3 rounded-lg bg-[#101010] border border-[#2d2d2d] text-white focus:border-blue-500 outline-none transition"
        placeholder="Ex: Amazon LTDA" required />
    </div>

    <div class="space-y-2">
      <label class="text-sm text-gray-300" for="cnpj">CNPJ</label>
      <input type="text" id="cnpj" name="cnpj"
        class="w-full px-4 py-3 rounded-lg bg-[#101010] border border-[#2d2d2d] text-white focus:border-blue-500 outline-none transition"
        placeholder="00.000.000/0000-00" required />
    </div>

    <button type="submit"
      class="w-full py-3 rounded-lg bg-blue-600 hover:bg-blue-700 text-white font-semibold tracking-wide transition">
      Registrar
    </button>
  </form>
</body>

</html>